In [ ]:
import pandas as pd
#Creating the first dataframe of sheet=2
df1=pd.read_excel("Python Assignment_1.xlsx",sheet_name=1,usecols="D:G")
df1=df1.iloc[9:31]
df1.index=range(len(df1))
df1.columns=df1.iloc[0]
df1=df1.drop(index=0)
print(df1)

0  S No           Name            Team Name User ID
1     1      Soumita M  Winning Culture Lab     280
2     2     Subhangi 0  Winning Culture Lab      75
3     3    Nitin Shane  Winning Culture Lab    1124
4     4         Merwin               Mentor     295
5     5  fardinkamal62    Human Capital Lab     263
6     6  __riddhi_213_    Human Capital Lab     504
7     7    Rohit Dutta               Mentor     266
8     8       imshawan             Tech Lab      71
9     9   Anuraj_Saini        BrandTech Lab     342
10   10        sharath  Student Unicorn Lab    3367
11   11        Ronak 0             Tech Lab     302
12   12  Amrit Malviya        BrandTech Lab     336
13   13        Saurabh               Mentor     271
14   14    darshimalde  Student Unicorn Lab    3169
15   15         Shagun             Tech Lab     100
16   16         Ayisha  Student Unicorn Lab    3406
17   17         Palash            Growpital      69
18   18          raman            Growpital     539
19   19        Nishant            Growpital     299
20   20         Vatsal              Kringle    3408
21   21       devmenkr              Kringle     360

In [ ]:
#Creating the first dataframe of sheet=3
df2=pd.read_excel("Python Assignment2.xlsx",sheet_name=2,usecols="C:G")
df2=df2.iloc[6:30]
df2.columns=df2.iloc[0]
df2.drop(index=6,inplace=True)
df2.index=range(len(df2))
df2.columns=["S No","Name","User ID","total_statements","total_reasons"]
print(df2)

   S No           Name User ID total_statements total_reasons
0     1      Soumita M     280               13            21
1     2     Subhangi 0      75               13            16
2     3    Nitin Shane    1124               12            11
3     4         Merwin     295               13            12
4     5  fardinkamal62     263                2             2
5     6  __riddhi_213_     504                2             7
6     7    Rohit Dutta     266                3             3
7     8       imshawan      71                9             9
8     9   Anuraj_Saini     342                7             7
9    10        sharath    3367                8             8
10   11        Ronak 0     302               16            19
11   12  Amrit Malviya     336                2             4
12   13        Saurabh     271                6             8
13   14    darshimalde    3169                3             3
14   15         Shagun     100                2             2
15   16         Ayisha    3406               11             8
16   17         Palash      69                6             7
17   18          raman     539                5             5
18   19        Nishant     299                4             5
19   20         Vatsal    3408                2             2
20   21       devmenkr     360                7             7

In [ ]:
df=pd.merge(left=df1,right=df2,on=["S No","Name","User ID"])
print(df)

   S No           Name            Team Name User ID total_statements  \
0     1      Soumita M  Winning Culture Lab     280               13
1     2     Subhangi 0  Winning Culture Lab      75               13
2     3    Nitin Shane  Winning Culture Lab    1124               12
3     4         Merwin               Mentor     295               13
4     5  fardinkamal62    Human Capital Lab     263                2
5     6  __riddhi_213_    Human Capital Lab     504                2
6     7    Rohit Dutta               Mentor     266                3
7     8       imshawan             Tech Lab      71                9
8     9   Anuraj_Saini        BrandTech Lab     342                7
9    10        sharath  Student Unicorn Lab    3367                8
10   11        Ronak 0             Tech Lab     302               16
11   12  Amrit Malviya        BrandTech Lab     336                2
12   13        Saurabh               Mentor     271                6
13   14    darshimalde  Student Unicorn Lab    3169                3
14   15         Shagun             Tech Lab     100                2
15   16         Ayisha  Student Unicorn Lab    3406               11
16   17         Palash            Growpital      69                6
17   18          raman            Growpital     539                5
18   19        Nishant            Growpital     299                4
19   20         Vatsal              Kringle    3408                2
20   21       devmenkr              Kringle     360                7

   total_reasons
0             21
1             16
2             11
3             12
4              2
5              7
6              3
7              9
8              7
9              8
10            19
11             4
12             8
13             3
14             2
15             8
16             7
17             5
18             5
19             2
20             7

In [ ]:
s1=df[["S No","Team Name","total_statements","total_reasons"]]
s2=s1["Team Name"]
s2.drop_duplicates(keep="first")
t_statements=[]
t_reasons=[]
for i in s2:
    t_statements.append(round(s1[s1.eq(i).any(axis=1)]["total_statements"].mean(),ndigits=2))
    t_reasons.append(round(s1[s1.eq(i).any(axis=1)]["total_reasons"].mean(),ndigits=2))
s2.index=range(len(s2))
s3=pd.DataFrame({"Team_Name":s2,"Average_Statements":t_statements,"Average Reasons":t_reasons},index=range(len(s2)))
s3.sort_values(by=["Average_Statements","Average Reasons"],ascending=False,inplace=True)

s3=s3.drop_duplicates()
s3.index=range(1,len(s3)+1)
s3.index.name="Rank"
#Taking part of data frame for indivisual ranking
print(s3)

                Team_Name  Average_Statements  Average Reasons
Rank
1     Winning Culture Lab               12.67            16.00
2                Tech Lab                9.00            10.00
3                  Mentor                7.33             7.67
4     Student Unicorn Lab                7.33             6.33
5               Growpital                5.00             5.67
6           BrandTech Lab                4.50             5.50
7                 Kringle                4.50             4.50
8       Human Capital Lab                2.00             4.50

In [ ]:
df.sort_values(by=["total_statements" , "total_reasons"],ascending=[False,False],inplace=True)
df.index=range(1,len(df)+1)
df.index.name="Rank"
r_df=df[["Name","User ID","total_statements","total_reasons"]]
print(r_df)

               Name User ID total_statements total_reasons
Rank
1           Ronak 0     302               16            19
2         Soumita M     280               13            21
3        Subhangi 0      75               13            16
4            Merwin     295               13            12
5       Nitin Shane    1124               12            11
6            Ayisha    3406               11             8
7          imshawan      71                9             9
8           sharath    3367                8             8
9      Anuraj_Saini     342                7             7
10         devmenkr     360                7             7
11          Saurabh     271                6             8
12           Palash      69                6             7
13            raman     539                5             5
14          Nishant     299                4             5
15      Rohit Dutta     266                3             3
16      darshimalde    3169                3             3
17    __riddhi_213_     504                2             7
18    Amrit Malviya     336                2             4
19    fardinkamal62     263                2             2
20           Shagun     100                2             2
21           Vatsal    3408                2             2